body{
    height: 100vh;
    font-family: monospace;
}
.caja {
    margin: auto;
    max-width: 400px;
    margin-top: 20%;
}
h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
}
.caja > p{
    font-size: 1.3em;
}